.t_list{ width:980px; margin-top:12px;}
.t_list h2{ height:36px; line-height:36px; background:#eee; border-bottom:2px solid #ccc; font-size:16px;font-family:"Î¢ÈíÑÅºÚ"; text-indent:14px; color:#000;}
.t_list h2 span{ padding-left:6px; font-weight:normal; font-size:12px; color:#999;}
.t_list ul{ width:990px;}
.t_list ul li{ float:left; margin:10px; margin-left:0px; border:1px solid #E6E6E6; width:318px; height:320px; background:#fff;}
.t01{ font-size:16px; font-family:"Î¢ÈíÑÅºÚ"; color:#000; line-height:36px;}
.t02{ padding:9px; height:213px; overflow:hidden; padding-top:0px; padding-bottom:0px; margin-bottom:8px;}
.t02 img{ width:300px; height:180px; margin-bottom:5px;}
.t02 a{ display:block; font-size:16px; font-family:"Î¢ÈíÑÅºÚ"; color:#333; line-height:25px;}
.t03{ padding:0px 9px; height:40px; padding-top:15px; background:url(t_line.png) no-repeat top center;}
.t03 span{ float:left; display:block;}
.tt01{ width:70px; line-height:36px; background:url(t_line2.gif) no-repeat 60px center; font-size:24px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#DB0808;}
.tt01 b{ font-size:14px;}
.tt02{ color:#717171; width:138px; line-height:18px;}
.tt02 b{ text-decoration:line-through;}
.tt03{ width:90px; height:36px; background:#B51C1C; text-align:center; line-height:36px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ";}
.tt03 a{ display:block; color:#fff;}
.tt03 a:hover{ background:#ff3300;}

.t_show{ margin-top:12px;}
.t_show_l{ width:740px;}
.t_show_top{ border:1px solid #E6E6E6; padding:19px; background:#fff;}
.t_show_top ul li.top01{ font-weight:bold; line-height:45px; font-family:"Î¢ÈíÑÅºÚ"; font-size:28px; color:#000;}
.t_show_top ul li.top02{ line-height:30px; font-family:"Î¢ÈíÑÅºÚ"; font-size:18px; color:#777777;}
.t_show_top ul li.top03{ border:0px solid #E6E6E6; height:272px; margin-top:10px;}
.t_jg{ width:218px;}
.t_jg_t{ width:218px; background:url(t_jg_t.jpg) no-repeat top center; height:58px;}
.t_jg_t .jg01{ padding:0 15px; line-height:50px; color:#fff;}
.t_jg_t .jg01 strong{ font-family:Arial, Helvetica, sans-serif;  font-weight:bolder; font-size:32px;}
.t_jg_t .jg01 span{ padding-right:5px; font-family:Arial, Helvetica, sans-serif; color:#ffff; }
.jg01 span b{ font-size:12px;}

.t_jg_b{ width:210px; border:1px solid #E5E5E5; border-top:0px; margin:0 auto;}
.t_jg ul li.jg02{ height:50px; line-height:50px; border-bottom:1px solid #f1f1f1; text-align:center; font-size:14px;}
.t_jg ul li.jg02 strong{ padding-right:5px;}
.t_jg ul li.jg03{ height:30px; line-height:30px; padding-top:8px; text-align:center;}
.t_jg ul li.jg03 strong{ color:#ff3300; font-size:16px; font-family:Arial, Helvetica, sans-serif;}
.t_jg ul li.jg04{ height:20px; line-height:20px; padding-bottom:8px; color:#888; border-bottom:1px solid #f1f1f1; text-align:center;}
.t_jg ul li.jg05{ height:50px; line-height:50px; border-bottom:1px solid #f1f1f1; text-align:center; font-size:14px;}
.t_jg ul li.jg06{ height:20px; padding:12px 20px; line-height:20px; border-bottom:1px solid #f1f1f1;}
.t_jg ul li.jg06 a{ float:left; text-align:center; background:#FFE0BA; margin:0 3px; display:block; width:75px; height:20px; border:1px solid #F5AA27; line-height:20px; color:#559402;}

.t_tp{ width:470px;}
.t_tp img{ width:470px; height:270px;}
.top04{ border:1px solid #E6E6E6; border-top:0px; background:url(shoucang.gif) #f1f1f1 no-repeat 15px center; padding:5px 12px; height:25px; line-height:25px; text-indent:20px;}
.top04 span{ float:right;}

.t_show_bottom{ border:1px solid #E6E6E6; margin-top:12px; background:#fff;}
.t_show_bottom h2{ padding-left:12px; height:28px; line-height:28px; padding-top:8px; font-size:14px; background:#f1f1f1; border-bottom:1px solid #e6e6e6;}
.t_show_bottom h2 a{ display:block; width:80px; margin-left:5px; border:1px solid #ccc; border-bottom:0px; text-align:center; float:left; background:#f8f8f8;}
.t_show_nr{ padding:19px; font-family:"Î¢ÈíÑÅºÚ";}
.t_nr_jg{ font-size:15px; padding:10px 0;}
.t_nr_jg strong{ font-size:14px;}
.t_nr_jg b{ font-size:14px; color:#ff0000;}
.t_tel{ height:70px; margin:20px 0; line-height:35px; padding-left:22px; font-size:18px; font-family:"Î¢ÈíÑÅºÚ"; background:url(tel.gif) no-repeat left center;}
.t_tel strong{ font-family:Arial, Helvetica, sans-serif; color:#ff0000}
.t_bt{ background:#2DA1E7; padding:0 12px; height:28px; line-height:28px; font-size:16px; color:#fff; font-family:"Î¢ÈíÑÅºÚ";}
.t_bt span{ float:right; font-size:12px;}
.t_bt span a{ color:#fff;}
.t_nr{ padding:12px; font-size:14px; line-height:24px; color:#000; font-family:"ËÎÌå"; color:#333;}
.cpld{ font-size:12px;}

.t_show_r{ width:228px; border:1px solid #E6E6E6;}
.t_show_r h2{ height:32px; line-height:32px; font-size:16px; font-weight:normal; font-family:"Î¢ÈíÑÅºÚ"; text-indent:12px; background:#2DA1E7; color:#fff; border-bottom:2px solid #FFA63C}
.t_r_kefu{ border:1px solid #C7D5DE; background:#fff;}
.t_r_kefu ul.tel{ padding:18px 10px 10px 3px;}
.t_r_kefu ul.tel li.pic{ height:68px; width:208px; background:url(telno.jpg) no-repeat right center;}
.t_r_kefu ul.tel li.pic img{ width:40px; height:40px; margin-top:8px; margin-left:3px; border:1px solid #e2e2e2; padding:2px;}
.t_r_kefu ul.tel li.qq{ height:25px; line-height:25px; text-align:right;}
.t_r_kefu ul.tel li.text{ height:20px; line-height:20px; text-align:right; color:#000;}
.huang{ border:1px solid #FA5D0B;}
.huang h2{ background:#FA5D0B; color:#fff;}


.t_r_yxbj ul{ width:208px; padding:10px; background:#fff;}

.t_r_list ul{ width:208px; padding:10px; background:#fff;}
.t_r_list ul li{ width:208px; height:240px;}
.r02{ height:167px; overflow:hidden; padding-top:0px; padding-bottom:0px; margin-bottom:8px;}
.r02 img{ width:208px; height:117px; margin-bottom:5px;}
.r02 a{ display:block; font-size:16px; font-family:"Î¢ÈíÑÅºÚ"; color:#333; line-height:25px;}
.r03{ height:40px; padding-top:15px; background:url(t_line.png) no-repeat top center;}
.r03 span{ float:left; display:block;}
.rr01{ width:70px; line-height:36px; background:url(t_line2.gif) no-repeat 60px center; font-size:24px; font-weight:bold; font-family:Arial, Helvetica, sans-serif; color:#DB0808;}
.rr01 b{ font-size:14px;}
.rr02{ color:#717171; width:80px; line-height:18px;}
.rr02 b{ text-decoration:line-through;}
.rr03{ margin-top:4px; float:right; width:58px; height:28px; background:#B51C1C; text-align:center; line-height:28px; font-size:14px; font-family:"Î¢ÈíÑÅºÚ";}
.rr03 a{ display:block; color:#fff;}
.rr03 a:hover{ background:#ff3300;}

/*×â³µ*/
.hanggao{ height:12px;}
#right1 .bj_title{ width:979px; height:33px; border-right:1px solid #DCDCDA; background:url(main_13.jpg) bottom repeat-x;}
#right1 .bj_title b{ float:left; width:160px; background: url(main_14.jpg) 0px 0px no-repeat; text-align:center; font-size:14px; color:#FFFFFF; line-height:23px; padding-top:10px;}
#right1 .zc_ckjg { width:948px; height:auto; clear:both; overflow:hidden; padding:15px; line-height:30px; border-bottom:#E8E8E8 1px solid; border-left:#E8E8E8 1px solid; border-right:#E8E8E8 1px solid;}
#right1 .zc_cxck{ width:978px; height: auto; overflow:hidden; clear:both;border-bottom:#E8E8E8 1px solid; border-left:#E8E8E8 1px solid; border-right:#E8E8E8 1px solid;}
#right1 .zc_cxck1{background:; float:left; width:240px; height:auto; overflow:hidden; margin-left:3px;}
#right1 .zc_cxck2{ width:232px; height:180px; float:left; padding:4px;}
#right1 .zc_cxck2 img{ width:232px; height:180px;}
#right1 .zc_cxck3{ float:right; width:216px; height:auto; padding:12px; font-size:12px; line-height:21px;}
#right1 .zc_zcxz { width:948px; height:auto; clear:both; overflow:hidden; padding:15px; line-height:30px; border-bottom:#E8E8E8 1px solid; border-left:#E8E8E8 1px solid; border-right:#E8E8E8 1px solid;}

/*×â³µ*/
/*==================Ö÷Òª²¿·Ö½áÊø==================*/

