body{ margin:0px; padding:0px; border:0px; line-height:18px; font-size:12px; color:#333; text-align:left; background:#ffffff}
a{ color:#333; text-decoration:none;}
div,h1,h2,h3,h4,h5,img,p{ margin:0px; padding:0px; border:0px;}
ul{ margin:0px; padding:0px; border:0px; list-style:none}
li{ margin:0px; padding:0px; border:0px; list-style:none}
.left{ float:left}
.right{ float:right}
.clear{ clear:both;}
.top10{ margin-top:10px;}
.bot10{ margin-bottom:10px;}
.w960{ width:100%; margin:0 auto;}
.w960 img{ width:100%; margin:0 auto;}
#top{ height:28px; line-height:28px;background:#f8f8f8; border-bottom:1px solid #E6E6E6;}
.top{ font-size:12px; color:#999; padding:0 10px; width:90%; }
.top strong{ color:#ff6600;}
.top span{ float:right; font-size:12px; color:#999;}
.top span a{ margin-left:3px; margin-right:5px;}
#main{ width:100%; margin-left:auto; margin-right:auto;}
#head{ background:#fff;}
#menu{ height:42px; background:RGB(45, 184, 173); }
.menu{ width:100%; margin:0 auto;}
#menu ul li{ float:left; line-height:42px; font-size:15px; font-family:"微软雅黑";}
#menu ul li a{ color:#ffffff; display:block; padding:0 15px;}
#menu{ /*overflow: hidden;*/ text-overflow: ellipsis; -o-text-overflow: ellipsis; /*display: -webkit-box;*/ -webkit-line-clamp: 1; -webkit-box-orient: vertical;}
#menu ul li a:hover{ display:block; background:#fff; border-top:2px solid #FFA63C; color:#333; height:40px; line-height:40px;}
#menu ul li.hover a{ display:block; background:#fff; border-top:2px solid #FFA63C; color:#333; height:40px; line-height:40px;}
#menu ul li.other{ width:30%; background:none; font-size:12px; float:right; background:url(zixun_dot.gif) no-repeat 42px center;}
#menu ul li.other a{ width:40px; display:block; text-align:right; float:left; padding:0px;}
#menu ul li.other a:hover{ display:block; background:none; color:#000; font-weight:bold;}
#menu ul li.other strong{ color:#F7AA04;}
#nav{ background:#fff; border:1px solid #E6E6E6; padding:12px; line-height:28px; width:96%; color:#ddd; margin:0 auto; margin-top:12px;}
#nav strong{ color:#FF3300;}
#nav a.hot{ margin:0 3px; display:inline; color:#666;}
.nav{ width:980px; margin:0 auto;}
.nav2{ background:#F5FDF2; border:1px solid #D1E6C7; padding:0 12px; border-top:4px solid #D1E6C7; line-height:30px; width:100%; margin:0 auto;}

/*** explanation ***/
#explanation{ position:relative; margin:10px auto; width:95%; border:1px solid #f1f1f1; padding:1px; background:url(line1.gif) left bottom repeat-x; clear:right;}
#explanation .exp{ height:134px; background:url(bg_a.png) left -520px repeat-x;}
#explanation ul{ clear:both; overflow:hidden; padding:18px 0 0 10px;}
#explanation ul li{ float:left; color:#888; border-left:1px solid #fff; border-right:1px solid #f8f8f8; line-height:1.7em; padding:0 38px 0 38px;}
#explanation ul li h3{ background:url(icon.gif) left -684px no-repeat; font-size:14px;}
#explanation ul li h3 a{ color:#333;}
#explanation ul li h3 a:Hover{ color:#888; text-decoration: underline;}
#explanation ul li h3 span{ padding:0 10px 0 5px; color:#FFFFFF;}
#explanation ul li p{ padding:0 0 0 24px;}

.foot{ text-align:center; line-height:25px; padding:12px 0px; color:#888;}
.foot a{ color:#888;}
#foot_menu{ height:38px; line-height:38px; background:#46A107; margin-top:10px; text-align:center; color:#fff;}
#foot_menu a{ color:#fff; margin:0 5px;}
#foot{ width:100%; margin-left:auto; margin-right:auto; padding-top:12px; line-height:18px; padding-bottom:10px; background:url(zt_08.jpg) #f3f3f3 repeat-x;}
#foot p{ text-align:center; color:#000;}
#foot p a{ color:#000;}

.dede_pages{ width:80%; padding:0 15px;}
.dede_pages ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	border:1px solid #E9E9E9;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	display:block;
}
.dede_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding:2px 4px 2px;
	font-weight:bold;
}
.dede_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.dede_pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}

@media all and (min-width:128px) and (max-width:320px) {
	body{font-size:90%;background-color: lightgray;}
	#nav ul li a{ font-size:60% }
	#nav{ width:80% }
	/*.tt02{font-size:60%}*/
	.t_list ul li{margin: 1px;}
	#menu ul li {
		font-size: 10px;
	}
	#menu ul li a {
		padding: 0 2px;
	}
}

@media all and (min-width:320px) and (max-width:480px) {
	body{font-size:90%;background-color: darkgray;}
	#nav ul li a{ font-size:60% }
	#nav{ width:90% }
	.t_list ul li{margin: 2px;}
	#menu ul li {
		font-size: 12px;
	}
	#menu ul li a {
		padding: 0 8px;
	}
	/*.tt02{font-size:60%}*/
}

@media all and (min-width:480px) and (max-width:640px) {
	body{font-size:100%;background-color: darkslategray}
	#nav ul li a{ font-size:90% }
	#nav{ width:93% }
	.t_list ul li{margin: 5px;}
	/*.tt02{font-size:60%}*/
}

@media all and (min-width:640px) and (max-width:2000px) {
	body{font-size:130%;background-color: black}
	#nav ul li a{ font-size:100% }
	.t_list ul li{margin: 5px;}
}