<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
  <title>北京旅游团购网-北京一日游团购_长城一日游团购_北京周边旅游团购_北京旅游集散中心团购</title>
  <meta name="keywords" content="北京团购旅游,北京一日游团购,北京长城一日游团购,北京团购周边游" />
  <meta name="description" content="北京旅游团购网，主要致力于精品旅游团购服务,北京旅游团购,北京一日游团购,北京周边游团购,北京国内游团购." />
  <link href="../static/css/android/head.css" rel="stylesheet" type="text/css" />
  <link href="../static/css/android/tuan.css" rel="stylesheet" type="text/css" />
  <style type="text/css">
/*<![CDATA[*/
  <!--
  #menu ul li.index a{ display:block; background:#fff; border-top:2px solid #FFA63C; color:#333; height:40px; line-height:40px;}
  -->
  /*]]>*/
  </style>
</head>

<body>
  <div id="top">
    <div class="top w960">
      您好，欢迎您访问<strong>国际旅行社前门营业部</strong>团购网，我们只做精品高端旅游服务！
    </div>
  </div>

  <div id="head">
    <div class="logo w960"><img src="../static/image/logo.jpg" title=
    "北京旅游团购网-北京一日游团购_长城一日游团购_北京周边旅游团购_北京旅游集散中心团购" /></div>
  </div>

  <div id="menu">
    <ul class="w960">
      <li class='index'>
        <a href='/'><span>首页</span></a>
      </li>

      <li>
        <a href='/1/'><span>一日游</span></a>
      </li>

      <li>
        <a href='/2/'><span>两日游</span></a>
      </li>

      <li>
        <a href='/duoriyou/'><span>多日游</span></a>
      </li>

      <li>
        <a href='/zhoubianyou/'><span>周边游</span></a>
      </li>

      <li>
        <a href='/a/waibintuan/'><span>外宾团</span></a>
      </li>

      <li>
        <a href='/guoneiyou/'><span>国内游</span></a>
      </li>

      <li>
        <a href='/a/baochelvy/'><span>包车旅游</span></a>
      </li>

      <li style="list-style: none; display: inline">
        <div class="clear"></div>
      </li>
    </ul>
  </div>

  <!--<div id="nav">-->
    <!--<ul>-->
      <!--<li>-->
        <!--<strong>一日游：</strong> <a href="/1/haohua.html" title="长城一日游[豪华团]" target=-->
        <!--"_blank">长城一日游[豪华团]</a>| <a href="/1/jingji.html" title="长城一日游标准团" target=-->
        <!--"_blank">长城一日游标准团</a>| <a href="/1/gudu.html" title="古都一日游" target="_blank">古都一日游</a>|-->
        <!--<a href="/1/wenhua.html" title="香山一日游" target="_blank">香山一日游</a>| <a href="/1/aoyun.html" title=-->
        <!--"奥运一日游" target="_blank">奥运一日游</a>| <a href="/1/xiuxian.html" title="休闲一日游" target=-->
        <!--"_blank">休闲一日游</a>|-->
      <!--</li>-->

      <!--<li>-->
        <!--<strong>二日游：</strong> <a href="/2/gudu.html" title="北京两日游A线" target="_blank">北京两日游A线</a>|-->
        <!--<a href="/2/aoyun.html" title="北京两日游B线" target="_blank">北京两日游B线</a>| <a href="/2/wenhua.html"-->
        <!--title="北京两日游C线" target="_blank">北京两日游C线</a>| <a href="/2/xiuxian.html" title="北京两日游D线"-->
        <!--target="_blank">北京两日游D线</a>| <a href="/2/gw.html" title="北京两日游E线" target=-->
        <!--"_blank">北京两日游E线</a>|-->
      <!--</li>-->

      <!--<li>-->
        <!--<strong>多日游：</strong> <a href="/duoriyou/sanriyou.html" title="VIP精品三日游" target=-->
        <!--"_blank">VIP精品三日游</a>| <a href="/duoriyou/chunwan3.html" title="北京纯玩3日游" target=-->
        <!--"_blank">北京纯玩3日游</a>| <a href="/duoriyou/chunwan4.html" title="北京纯玩4日游" target=-->
        <!--"_blank">北京纯玩4日游</a>| <a href="/duoriyou/chunwan5.html" title="北京纯玩5日游" target=-->
        <!--"_blank">北京纯玩5日游</a>| <a href="/duoriyou/569.html" title="北京深度两晚三日游" target=-->
        <!--"_blank">北京深度两晚三日游</a>| <a href="/duoriyou/567.html" title="北京经典四晚五日游" target=-->
        <!--"_blank">北京经典四晚五日游</a>|-->
      <!--</li>-->

      <!--<li>-->
        <!--<strong>周边游：</strong> <a href="/zhoubianyou/tianjin2.html" title="天津一日游B线" target=-->
        <!--"_blank">天津一日游B线</a>| <a href="/zhoubianyou/weichang.html" title="木兰围场草原三日游" target=-->
        <!--"_blank">木兰围场草原三日游</a>| <a href="/zhoubianyou/beidaihe.html" title="北戴河二日游" target=-->
        <!--"_blank">北戴河二日游</a>| <a href="/zhoubianyou/tianjin.html" title="天津一日游" target=-->
        <!--"_blank">天津一日游</a>| <a href="/zhoubianyou/chengde.html" title="承德二日游" target=-->
        <!--"_blank">承德二日游</a>| <a href="/zhoubianyou/baiyangdian.html" title="河北白洋淀二日游" target=-->
        <!--"_blank">河北白洋淀二日游</a>|-->
      <!--</li>-->

      <!--<li style="list-style: none; display: inline">-->
        <!--<div class="clear"></div>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</div>-->

  <div id="main">
    <div class="t_list">
      <ul>
        <li>
          <p class="t01">【长城一日游[豪华团]】</p>

          <p class="t02"><a href="/1/haohua.html" title=
          "八达岭长城、十三陵、地下宫殿、明皇宫、鸟巢、水立方" target="_blank"><img src=
          '../static/uploads/test.jpg' border='0' width='120' height='120' alt=
          '八达岭长城、十三陵、地下宫殿、明皇宫、鸟巢、水立方' />八达岭长城、十三陵、地下宫殿、明皇宫、鸟巢、水立方</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>150</span> <span class="tt02"><b>￥380</b><br />
          7898人已购买</span> <span class="tt03"><a href="/1/haohua.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【长城一日游标准团】</p>

          <p class="t02"><a href="/1/jingji.html" title="八达岭长城、十三陵、水晶宫、鸟巢、水立方一日游"
          target="_blank"><img src='/uploads/130527/1-13052G53GEb.jpg' border='0' width='120' height='120' alt=
          '八达岭长城、十三陵、水晶宫、鸟巢、水立方一日游' />八达岭长城、十三陵、水晶宫、鸟巢、水立方一日游</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>100</span> <span class="tt02"><b>￥280</b><br />
          6658人已购买</span> <span class="tt03"><a href="/1/jingji.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【古都一日游】</p>

          <p class="t02"><a href="/1/gudu.html" title="故宫+天坛+颐和园+万寿寺一日游" target="_blank"><img src=
          '/uploads/130527/1-13052G4031LH.jpg' border='0' width='120' height='120' alt=
          '故宫+天坛+颐和园+万寿寺一日游' />故宫+天坛+颐和园+万寿寺一日游</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>180</span> <span class="tt02"><b>￥360</b><br />
          5469人已购买</span> <span class="tt03"><a href="/1/gudu.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【香山一日游】</p>

          <p class="t02"><a href="/1/wenhua.html" title="香山+恭王府+清华北大一日游" target="_blank"><img src=
          '/uploads/130527/1-13052G44443C6.jpg' border='0' width='120' height='120' alt=
          '香山+恭王府+清华北大一日游' />香山+恭王府+清华北大一日游</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>150</span> <span class="tt02"><b>￥320</b><br />
          4776人已购买</span> <span class="tt03"><a href="/1/wenhua.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【奥运一日游】</p>

          <p class="t02"><a href="/1/aoyun.html" title="鸟巢+水立方+颐和园+国家大剧院一日游" target=
          "_blank"><img src='/uploads/130527/1-13052G4215G30.jpg' border='0' width='120' height='120' alt=
          '鸟巢+水立方+颐和园+国家大剧院一日游' />鸟巢+水立方+颐和园+国家大剧院一日游</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>150</span> <span class="tt02"><b>￥320</b><br />
          4227人已购买</span> <span class="tt03"><a href="/1/aoyun.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【休闲一日游】</p>

          <p class="t02"><a href="/1/xiuxian.html" title="中央电视塔+海底世界+电影城+颐和园一日游" target=
          "_blank"><img src='/uploads/130527/1-13052G5401U07.jpg' border='0' width='120' height='120' alt=
          '中央电视塔+海底世界+电影城+颐和园一日游' />中央电视塔+海底世界+电影城+颐和园一日游</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>240</span> <span class="tt02"><b>￥460</b><br />
          4039人已购买</span> <span class="tt03"><a href="/1/xiuxian.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>
      </ul>

      <div class="clear"></div>
    </div>

    <div class="t_list">
      <ul>
        <li>
          <p class="t01">【北京两日游A线】</p>

          <p class="t02"><a href="/2/gudu.html" title="八达岭长城旅游专线+古都旅游专线" target="_blank"><img src=
          '/uploads/110810/1-110Q0221935U2.jpg' border='0' width='120' height='120' alt=
          '八达岭长城旅游专线+古都旅游专线' />八达岭长城旅游专线+古都旅游专线</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>260</span> <span class="tt02"><b>￥640</b><br />
          5932人已购买</span> <span class="tt03"><a href="/2/gudu.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【北京两日游B线】</p>

          <p class="t02"><a href="/2/aoyun.html" title="八达岭长城旅游专线+奥运旅游专线" target="_blank"><img src=
          '/uploads/130807/1-130PFZ10QT.jpg' border='0' width='120' height='120' alt=
          '八达岭长城旅游专线+奥运旅游专线' />八达岭长城旅游专线+奥运旅游专线</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>240</span> <span class="tt02"><b>￥600</b><br />
          5123人已购买</span> <span class="tt03"><a href="/2/aoyun.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【北京两日游C线】</p>

          <p class="t02"><a href="/2/wenhua.html" title="八达岭长城旅游专线+文化旅游专线" target="_blank"><img src=
          '/uploads/130807/1-130PFZ133923.jpg' border='0' width='120' height='120' alt=
          '八达岭长城旅游专线+文化旅游专线' />八达岭长城旅游专线+文化旅游专线</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>240</span> <span class="tt02"><b>￥600</b><br />
          4898人已购买</span> <span class="tt03"><a href="/2/wenhua.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>
      </ul>

      <div class="clear"></div>
    </div>

    <div class="t_list">
      <ul>
        <li>
          <p class="t01">【VIP精品三日游】</p>

          <p class="t02"><a href="/duoriyou/sanriyou.html" title="北京VIP精品三日游 纯玩无购物" target=
          "_blank"><img src='/uploads/130819/1-130Q91203411W.jpg' border='0' width='120' height='120' alt=
          '北京VIP精品三日游 纯玩无购物' />北京VIP精品三日游 纯玩无购物</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>360</span> <span class="tt02"><b>￥720</b><br />
          7894人已购买</span> <span class="tt03"><a href="/duoriyou/sanriyou.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【北京纯玩3日游】</p>

          <p class="t02"><a href="/duoriyou/chunwan3.html" title="北京纯玩三日游 全程无购物 高端品质旅游首选"
          target="_blank"><img src='/uploads/110416/1-110416103516418.jpg' border='0' width='120' height='120' alt=
          '北京纯玩三日游 全程无购物 高端品质旅游首选' />北京纯玩三日游 全程无购物
          高端品质旅游首选</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>760</span> <span class="tt02"><b>￥1240</b><br />
          5980人已购买</span> <span class="tt03"><a href="/duoriyou/chunwan3.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【北京纯玩4日游】</p>

          <p class="t02"><a href="/duoriyou/chunwan4.html" title="北京纯玩四日游 全程无购物 高端品质旅游首选"
          target="_blank"><img src='/uploads/110416/1-11041610311T05.jpg' border='0' width='120' height='120' alt=
          '北京纯玩四日游 全程无购物 高端品质旅游首选' />北京纯玩四日游 全程无购物
          高端品质旅游首选</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>780</span> <span class="tt02"><b>￥1360</b><br />
          5689人已购买</span> <span class="tt03"><a href="/duoriyou/chunwan4.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>
      </ul>

      <div class="clear"></div>
    </div>

    <div class="t_list">
      <ul>
        <li>
          <p class="t01">【天津一日游B线】</p>

          <p class="t02"><a href="/zhoubianyou/tianjin2.html" title=
          "塘沽 洋货市场 金街 南市食品街[汽车去动车返]" target="_blank"><img src=
          '/uploads/110810/1-110Q0220130V5.jpg' border='0' width='120' height='120' alt=
          '塘沽 洋货市场 金街 南市食品街[汽车去动车返]' />塘沽 洋货市场 金街
          南市食品街[汽车去动车返]</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>280</span> <span class="tt02"><b>￥0</b><br />
          8000人已购买</span> <span class="tt03"><a href="/zhoubianyou/tianjin2.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【木兰围场草原三日游】</p>

          <p class="t02"><a href="/zhoubianyou/weichang.html" title="塞罕坝森林公园--踏青双汽 奔驰大草原" target=
          "_blank"><img src='/uploads/allimg/110810/1-110Q0202Z40-L.jpg' border='0' width='120' height='120' alt=
          '塞罕坝森林公园--踏青双汽 奔驰大草原' />塞罕坝森林公园--踏青双汽 奔驰大草原</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>588</span> <span class="tt02"><b>￥0</b><br />
          2160人已购买</span> <span class="tt03"><a href="/zhoubianyou/weichang.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【北戴河二日游】</p>

          <p class="t02"><a href="/zhoubianyou/beidaihe.html" title="北戴河黄金海岸海景休闲二日游" target=
          "_blank"><img src='/uploads/130527/1-13052G2543Y57.jpg' border='0' width='120' height='120' alt=
          '北戴河黄金海岸海景休闲二日游' />北戴河黄金海岸海景休闲二日游</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>298</span> <span class="tt02"><b>￥460</b><br />
          1298人已购买</span> <span class="tt03"><a href="/zhoubianyou/beidaihe.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【天津一日游】</p>

          <p class="t02"><a href="/zhoubianyou/tianjin.html" title="天津古文化区+南市食品街+塘沽外滩一日游"
          target="_blank"><img src='/uploads/130527/1-13052G23A0T0.jpg' border='0' width='120' height='120' alt=
          '天津古文化区+南市食品街+塘沽外滩一日游' />天津古文化区+南市食品街+塘沽外滩一日游</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>150</span> <span class="tt02"><b>￥360</b><br />
          1258人已购买</span> <span class="tt03"><a href="/zhoubianyou/tianjin.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【承德二日游】</p>

          <p class="t02"><a href="/zhoubianyou/chengde.html" title="承德避暑山庄+普宁寺双汽二日游" target=
          "_blank"><img src='/uploads/130527/1-13052G3312M29.jpg' border='0' width='120' height='120' alt=
          '承德避暑山庄+普宁寺双汽二日游' />承德避暑山庄+普宁寺双汽二日游</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>480</span> <span class="tt02"><b>￥718</b><br />
          1216人已购买</span> <span class="tt03"><a href="/zhoubianyou/chengde.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>

        <li>
          <p class="t01">【河北白洋淀二日游】</p>

          <p class="t02"><a href="/zhoubianyou/baiyangdian.html" title="白洋淀浓情泛舟、荷花乡消夏避暑" target=
          "_blank"><img src='/uploads/110414/140502/1-140502161I3928.jpg' border='0' width='120' height='120' alt=
          '白洋淀浓情泛舟、荷花乡消夏避暑' />白洋淀浓情泛舟、荷花乡消夏避暑</a></p>

          <p class="t03"><span class="tt01"><b>￥</b>278</span> <span class="tt02"><b>￥0</b><br />
          1153人已购买</span> <span class="tt03"><a href="/zhoubianyou/baiyangdian.html" title="去看看" target=
          "_blank">去看看</a></span></p>
        </li>
      </ul>

      <div class="clear"></div>
    </div>

    <div class="t_list">
      <div class="clear"></div>
    </div>

    <div id="explanation">
      <div class="exp">
        <ul>
          <li style="border-left: 0px">
            <h3><span>1</span><a title="订购流程说明" href="#">订购流程说明</a></h3>

            <p>查询<br />
            提交订单<br />
            付款<br />
            签署旅游合同</p>
          </li>

          <li>
            <h3><span>2</span><a title="付款方式说明" href="#">付款方式说明</a></h3>

            <p>亲临门市付款<br />
            网上支付<br />
            银行转帐<br />
            上门收款</p>
          </li>

          <li>
            <h3><span>3</span><a title="合同签署和发票" href="#">合同签署和票</a></h3>

            <p>亲临门市签署<br />
            快递签署<br />
            传真签署<br />
            上门签署</p>
          </li>

          <li>
            <h3><span>4</span><a title="电子抵用券" href="#">电子抵用券</a></h3>

            <p>获取方法<br />
            使用方法<br />
            <br />
            <br /></p>
          </li>

          <li style="BORDER-RIGHT: 0px">
            <h3><span>5</span><a title="其他事项" href="#">其他事项</a></h3>

            <p>取消和退订<br />
            出境游签证<br />
            旅游保险<br />
            <a href='/contact/index.html' title="联系我们" style="color:#888888;text-decoration:none">联系我们</a><br />
            <a href='/about/index.html' title="关于我们" style="color:#888888;text-decoration:none">关于我们</a></p>
          </li>
        </ul>
      </div>

      <div id="line_border_l"></div>

      <div id="line_border_r"></div>

      <div id="line_border_bl"></div>

      <div id="line_border_br"></div>
    </div>

    <div class="foot">
      <a>国际旅行社前门营业部</a> 致力于北京精品旅游服务<br />
    </div>
  </div>
</body>
</html>